@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@model Blogs
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <div class="row">
        <div class="col-2">

        </div>
        <div class="col-xl-8 col-lg-8">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Blog Düzenle</h4>
                </div>
                <div class="card-body">
                    <div class="basic-form">
                        <form asp-action="UpdateBlog" asp-controller="Blog" method="post" enctype="multipart/form-data">
                            <input type="hidden" asp-for="id" />
                            <div class="mb-3">
                                <label>Kategori</label>
                                <select class="form-control" name="categoryId" asp-items="@(new SelectList(ViewBag.categories as List<Categories>,"id","categoryName"))">
                                </select>
                                <button type="button" class="btn btn-info mt-2" data-toggle="modal" data-target="#myModal"> Yeni Kategori Ekle</button>
                            </div>
                            <div class="mb-3">
                                <label>Başlık</label>
                                <input type="text" asp-for="title" class="form-control input-default">
                            </div>
                            <div class="mb-3">
                                <label>Açıklama</label>
                                <input type="text" asp-for="description" class="form-control input-rounded">
                            </div>
                            <div class="mb-3">
                                <label>Kapak Fotoğrafı</label>
                                <input type="file" name="File" class="form-control input-rounded">
                            </div>
                            <button type="submit" class="btn btn-success">Gönder</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2">

        </div>
    </div>

    <script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    @if (TempData["info"] != null)
    {
        <script type="text/javascript" charset="utf-8">
    window.onload = function () {
        swal(`@Html.Raw(TempData["info"].ToString())`, {
                buttons: [false, `OK`],
                icon:'info'
                });
            }
        </script>
    }
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Yeni Kategori Ekle</h4>
                </div>
                <div class="modal-body">
                    <form asp-action="CreateCategory" asp-controller="Category" method="post">
                        <label>Kategori Adı</label>
                        <input type="text" name="categoryName" class="form-control" />
                        <button type="submit" class="btn btn-success form-control mt-2">Ekle</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
